.txt {
    color: black;
    
}
body {
    color: var(--tg-theme-text-color);
    background: var(--tg-theme-bg-color);
    font-size: 16px;
}
.products{
    max-width: 490px;
}
.inner{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 265px 265px 265px 265px 265px 265px 265px 265px 265px 265px 265px 265px 265px 265px 265px 265px 265px 265px 265px 265px 265px 265px 265px 265px 265px 265px 265px 265px 265px 265px 265px 265px 265px 265px 265px 265px 265px 265px 265px 265px 265px 265px 265px 265px 265px 265px 265px 265px 265px 265px 265px 265px 265px 265px 265px 265px 265px 265px 265px 265px 265px 265px 265px 265px 265px 265px 265px 265px 265px 265px 265px 265px 265px 265px 265px 265px 265px 265px 265px 265px 265px 265px 265px 265px 265px 265px 265px 265px 265px 265px 265px 265px 265px 265px 265px 265px 265px 265px 265px 265px 265px 265px 265px 265px 265px 265px 265px 265px 265px 265px 265px 265px 265px 265px 265px;
}
.card {
    text-align: center;
    height: 410px;
}
.btn{
    display: inline-block;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    background: orange;
    transition: background .2s linear;
}
.img {
    width: 110px;
}
.btn:hover{
    background: lightgreen;
}
.btn:active{
    padding: 9px 18px;
}
.trash {
    width: 25px;
}
.interface {
    display: inline-block;
    border: none;
    padding: 10px 10px;
    border-radius: 10px;
    text-size-adjust: 10px;
    background: orange;
    margin: 0px 2px 0px 2px;
    transition: background .2s linear;
    color:black;
}
.interface:hover{
    background: lightgreen;
}
.interface:active{
    padding: 9px 9px;
}

.displaying{
    width:100%;
    height: 2000px;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position:fixed;
    color: black;
    top:0px;
}
.displaying .prod_card{
    margin:40px auto 0px auto;
    width:350px;
    height: 485px;
    padding:10px;
    background-color: white;
    border-radius:5px;
    color: black;
    box-shadow: 0px 0px 10px #000;
    text-align: center;
}
.displaying .prod_card .cross{
    position: relative;
    font-size: 20px;
    color: black;
    background: 0, 0, 0, 0;
}
